// Colors
$mainBlue: #0020A4;
$black: #000000;
$backgroundColor: #fff;

$txtParagraphColor: #1A2834;
$txtTitleColor: #4A4A4A;
$txtFilterColor: #5F5F5F;
$filterBorderColor: 1px solid rgba(195,206,215,0.44);

// Typography
$mainFont: 'Source Sans Pro', sans-serif;
$articleH2: 20px;
$articleH2Weight: 600;

// Buttons
$btnYesColor: #40BFA3;
$btnDangerColor: #EE6C5E;
$btnHover: #40BFA3;

// Layout
$cardBoxShadow: 1px solid #E2E5E8;
$cardHooverBoxShadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$cardDateColor: #9AA0A7;

// Graf
$containerWidth: 1000px;
$fontFamily: Verdana;
$mainBackgroundColor: whitesmoke;
$grafButtonSize: 30px 15px;
$loginOverlay: rgba(3,3,3,0.80);

$lineBorder: 1px solid #0000A0;
